body{
   background-color: #ffa500;
}

#main{
  windth: 798px;
  margin: 40px auto;
  padding: 40px 80px;
  border:green 1px solid;
  background-color: white;
}

.photo{
  float: left;
  margin-right: 30px;
}



.eggrice_picture:after{
   content: "";
   clear:both;
   disaplay: block;
}

.explamation{
   float: left;
   width: 468px;
}

dt{
   clear: left;
   float: left;
   font-weight: bold;
}

btn{
 -webkit-appearance: none;
 -webkit-border-radius: 0;
 margin; 5px;
 width: 100px;
 height: 40px;
 padding: 10px;
 border: none;
 font-size: 16px;
}

.btn:hover{/* マウスが乗った時 */
   opacity: 0.7;
}

.btn:active{/* ボタンを押した時 */
   color: white;
}

.btn-reset{
   background-color: silver;
}

.btn-reset{
    background-color: lightcoral;
}

#ingredient{
   border: 2px solid lightcoral;
   border-collapse: collapse;
}

th{
   border: 1px solid lightcoral;
   background-color: mistyrose;
   paddng: 5px;
   width: 100px;
   text-align: center;
}

td{
   border: 1px solid lightcoral;
   pading: 5px;
   width: 80px;
   text-align: right;
}
